## Deliverable 3. Create a Travel Itinerary Map.

In [63]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [64]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Katsuura,JP,79.63,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
1,2,Mount Holly,US,85.10,broken clouds,35.2982,-81.0159,Holiday Inn Express & Suites Charlotte Arpt-Be...
2,5,Hithadhoo,MV,81.79,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,6,Kankakee,US,81.82,clear sky,41.1500,-87.8667,Fairfield Inn Kankakee Bourbonnais
4,8,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn

In [65]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [66]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Katsuura,JP,79.63,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
1,2,Mount Holly,US,85.10,broken clouds,35.2982,-81.0159,Holiday Inn Express & Suites Charlotte Arpt-Be...
2,5,Hithadhoo,MV,81.79,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,6,Kankakee,US,81.82,clear sky,41.1500,-87.8667,Fairfield Inn Kankakee Bourbonnais
4,8,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...,...
215,671,Orocue,CO,78.33,overcast clouds,4.7912,-71.3354,Hotel Brisas de San Miguel
216,672,Nioaque,BR,82.11,clear sky,-21.1353,-55.8300,Nioaque Novo Hotel
217,680,Urucui,BR,82.20,broken clouds,-7.2294,-44.5561,Hotel Premium PiauÃ­
218,688,Biak,ID,76.10,overcast clouds,-0.9131,122.8766,Penginapan Kim
219,694,Bryan,US,83.70,scattered clouds,30.6744,-96.3700,Best Western Premier Bryan College Station

In [68]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Eureka"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Eureka"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "North Bend"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Portland"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Baker City"]

In [86]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [95]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(43.0, -120.0), zoom_level=5.5)
vaca_directions = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')
fig.add_layer(vaca_directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,315,Eureka,US,80.37,broken clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
1,638,North Bend,US,79.25,clear sky,43.4065,-124.2243,Red Lion Hotel Coos Bay
2,395,Portland,US,87.87,broken clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,647,Baker City,US,85.19,clear sky,44.7749,-117.8344,Bridge Street Inn

In [89]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [96]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(43.0, -120.0), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))